body {
    margin: 0;
}

/* HEADER + NAV */

h1 {
    translate: 0px 5px;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0;
    top: 0;
    min-height: 60px;
    position:fixed;
    z-index: 99;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 30%);
}

h1 {
    width: max-content;
    font-size: 40px;
    translate: 0px 5px;
    margin: 0 auto 0 auto;
    display: inline-block;
    font-family: blackops;
    transition: 0.5s all ease;
    font-weight: 300;
    padding: 0;
}
h1:hover {
    color: #990000;
    scale: 1.1;
}

.menu {
    position: absolute;
    height: 30px;
    width: 40px;
    top: 14px;
    left: 14px;
    margin-top: auto;
    padding: 0;
    translate: 0px -2px;
}

.lijn1, .lijn2, .lijn3 {
    background-color: black;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    transition: 0.5s all ease;
    margin: 0;
    padding: 0;
}

.lijn1 {
    position: absolute;
    top: 0%;
    
}

.lijn2 {
    position: absolute;
    top: 50%;
}

.lijn3 {
    position: absolute;
    top: 100%;
}

/* EXPAND + COLLAPSE ANIMATIONS */

@keyframes collapse1 {
    0% {top: 0%; rotate: 0deg;}
    25% {top: 50%; rotate: 0deg;}
    50% {top: 50%; rotate: 45deg;}
    100% {top: 50%; rotate: 45deg;}
}
@keyframes collapse2 {
    0% {top: 50%; rotate: 0deg;}
    25% {top: 50%; rotate: 0deg;}
    50% {top: 50%; rotate: 45deg;}
    75% {top: 50%; rotate: 45deg;}
    100% {top: 50%; rotate: 45deg;}
}
@keyframes collapse3 {
    0% {top: 100%; rotate: 0deg;}
    25% {top: 50%; rotate: 0deg;}
    50% {top: 50%; rotate: -45deg;}
    75% {top: 50%; rotate: -45deg;}
    100% {top: 50%; rotate: -45deg;}
}

@keyframes expand1 {
    0% {top: 50%; rotate: 45deg;}
    25% {top: 50%; rotate: 0deg;}
    50% {top: 0%; rotate: 0deg;}
    100% {top: 0%; rotate: 0deg;}
}
@keyframes expand2 {
    0% {top: 50%; rotate: 45deg;}
    25% {top: 50%; rotate: 0deg;}
    50% {top: 50%; rotate: 0deg;}
    100% {top: 50%; rotate: 0deg;}
}
@keyframes expand3 {
    0% {top: 50%; rotate: -45deg;}
    25% {top: 50%; rotate: 0deg;}
    50% {top: 100%; rotate: 0deg;}
    100% {top: 100%; rotate: 0deg;}
}

@font-face {
    font-family: blackops;
    src: url(BlackOpsOne-Regular.ttf);
}
@font-face {
    font-family: rakas;
    src: url(Rakkas-Regular.ttf);
}



nav {
    background-color: white;
    overflow: hidden;
    height: 0px;
    transition: 0.5s ease all;
}

nav ul {
    display: block;
    margin: 1rem 0 0 0;
    padding: 20px 10px 10px 20px;
}

nav ul li {
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    list-style: none;
    transition: 0.5s all ease;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: 0.5s all ease;
}

nav ul li a:hover {
    color: #990000;
}

@media (min-width: 1025px) {
    nav ul li:hover {
        transform: scale(1.2);
        translate: 10% 0;
    }
}