/* MAIN */

main {
    margin: 70px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    translate: 0px 0px;
}

.banner {
    display: flex;
}

.banner div:nth-child(1) {
    padding: 2rem;
    position: relative;
    z-index: 0;
    top: 0%;
    background-image: url(img/soviet2.webp);
    background-size: cover;
    border-radius: 20px;
}

.banner h3{
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: white;
    margin: 0;
}
.banner p{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    color: white;
}

/* CARDS */
.cards {
    list-style: none;
    margin: 2rem 0 1rem 0;
    padding: 0;
}

.cards li {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 20px;
    overflow: hidden;
    margin: 0 0 2rem 0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 50%);
}
.cards li .img {
    width: auto;
    aspect-ratio: 3/2;
    background-size: cover;
    background-position-y: center;
    margin-bottom: 1rem;
}
.cards li:nth-child(1) .img {
    background-image: url(img/GAGAWAR.webp);
    background-position-y: 10%;
}
.cards li:nth-child(2) .img {
    background-image: url(img/NEWS.webp);
    background-position-x: center;
    background-position-y: center;
}
.cards li:nth-child(3) .img {
    background-image: url(img/gaga_vape2_REDACTED.webp);
}
.cards li:nth-child(4) .img {
    background-image: url(img/gaga_confused.webp);
}

.cards li h4 {
    font-size: 22.5px;
    font-weight: 700;
    text-align: center;
}

.cards li h4, .cards li ol {
    margin: 0 2rem 1rem 2rem;
}

.cards li ol, .cards li p {
    list-style: decimal;
    padding: 0;
    margin: 0 2rem 1rem 2rem;
    text-align: center;
}
.cards li ol {
    width: auto;
}
.cards li ol li{
    border: none;
    border-radius: 0;
    margin: 0.8rem 0 0.5rem 0;
    font-size: 15px;
    box-shadow: none;
    max-width: auto;
    min-width: 200px;
}
.cards li ol li:last-child {
    border-radius: 0;
    margin-bottom: 0;
}

/* DESKTOP */
@media (min-width: 1025px) {
    main {
        margin: 90px 100px 10px 100px;
    }

    .banner {
        display: flex;
    }

    .banner div:nth-child(1) {
        position: relative;
        z-index: 0;
        top: 0%;
        margin: 0 auto 0 auto;
        padding: 135px 200px 150px 200px;
        background-size: cover;
        border-radius: 20px;
    }

    .banner h3{
        display: block;
        text-align: center;
        font-weight: 900;
        font-size: 60px;
        color: white;
    }
    .banner p{
        padding: 0 80px 0 80px;
        justify-content: center;
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: 100;
        color: white;
    }

    .cards {
        display: flex;
        height: auto;
        margin-top: 2rem;
        overflow-x: scroll;
        padding-bottom: 2rem;
    }
    .cards li {
        max-height: 600px;
        min-width: 300px;
        max-width: 300px;
        margin: 0 2rem 0 0;
    }
    .cards li .img {
        width: auto;
        transition: 0.5s ease all;
    }
    .cards li .img:hover {
        scale: 1.05;
        filter: brightness(80%);
    }
    .cards li ol, .cards li p {
        margin: 0 1rem 0 1rem ;
        text-align: center;
    }
    .cards li ol li {
        margin: 0 0rem 0 0rem;
        padding: 0 0 1rem 0;
    }
}