/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* HEADER */

.RED {
    background-color: #990000;
    color: #F4F4F4;
    padding: 0 1rem 0 1rem;
}
h1 {
    font-size: 32px;
}
header nav ul{
    margin-top: 0;
}

/* MAIN */

main {
    margin: 90px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

.article {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 150px 1fr;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 50%);
    transition: 0.5s ease all;
    max-height: 150px;
    margin: 0 10px 20px 10px;
}

.article img {
    width: 150px;
    border-radius: 20px;
    grid-column: 1;
}

.article_info {
    margin-top: 10px;
    grid-column: 2;
    grid-row: 1;
    padding-left: 10px;
}
.article_info h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 24px;
}
.article_info h3:nth-child(2) {
    margin-bottom: 8px;
}

@font-face {
    font-family: blackops;
    src: url(BlackOpsOne-Regular.ttf);
}
@font-face {
    font-family: rakas;
    src: url(/Rakkas-Regular.ttf);
}
/* SPANS */
.GAGISTAN, .REPUBLIC {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 14px;
}
.REPUBLIC, .PINNED {
    padding: 2px 5px 2px 5px;
}
.REPUBLIC {
    background-color: #990000;
    color: #F4F4F4;
}
.PINNED {
    background-color: rgb(0, 0, 198);
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.AI {
    color: rgb(140, 140, 140);
}
.EVENT_ARTICLE .article {
    box-shadow: 0px 0px 20px #EBB500;
}
.EVENT {
    padding: 3px 8px 2px 8px;
    background-color: #EBB500;
    color: white;
    font-weight: 700;
}

.article_text {
    grid-column: span 2;
    padding: 0 14px 16px 14px;
}

.article_text h4 {
    font-size: 22.5;
    font-weight: 600;
    margin: 12px 0 2px 0;
}
.article_text p {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 18px;
}
.article_text p:nth-child(1) {
    margin-top: 8px;
}
@media (max-width: 1024px) {
    h1 {
        position: absolute;
        right: 14px;
        bottom: 20px;
    }
    header nav {
        padding-top: 60px;
    }
}

@media (min-width: 1025px) {
    h1 {
        translate: 0 15px;
    }

    main {
        padding: 0 16vw 0 16vw;
    }

    .article {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 200px 1fr;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 50%);
        transition: 0.5s ease all;
        max-height: 200px;
        margin-bottom: 40px;
    }

    .article img {
        width: 200px;
        border-radius: 20px;
        grid-column: 1;
    }

    .article:hover {
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 30%);
        scale: 1.1;
        margin: 1rem 0 4rem 0;
    }
    .article_info {
        margin-left: 10px;
    }
    .article_info h2 {
        font-size: 25px;
        margin-top: 10px;
    }
    .article_info h3 {
        margin-top: 10px;
        font-size: 20px;
    }
    .PINNED {
        font-size: 16px;
        padding: 4px 10px 4px 10px;
    }

    .GAGISTAN, .REPUBLIC {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 1000;
        font-size: 18px;
    }

    .article_text{
        padding: 10px 20px 10px 20px;
    }

    .article_text h4 {
        font-size: 22.5px;
        margin: 20px 0 6px 0;
    }
    .article_text p {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .EVENT_ARTICLE .article:hover {
        box-shadow: 0px 0px 150px rgba(235, 181, 0, 100%);
    }
}