/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */
main {
    margin: 70px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    translate: 0px 10px;
}

body {
    background-image: url(/img/GAGAWAR.webp);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    justify-content: center;
}

form {
    position: absolute;
    bottom: 10vw;
    z-index: 0;
}
button, input {
    display: block;
    width: 80vw;
    aspect-ratio: 5/1;
    border: none;
}

input {
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F4F4F4;
    font-size: 18px;
}

button {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #990000;
    color: #F4F4F4;
    font-size: 18px;
}

@media (min-width: 1025px) {
    body {
        background-size: cover;
        display: flex;
    }
    form {
        bottom: 50%;
    }
    button, input {
        display: inline-block;
    }
    input {
        width: 20rem;
        height: 5rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
    button {
        width: 10rem;
        height: 5rem;
        border-top-left-radius: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 0px;
        transition: 0.3s ease all;
    }
    button:hover {
        filter: brightness(50%);
    }
}